- if @error
  .error= @error

%form(action='/change_password' method='POST')
  %p
    .label New password
    %input(type='password' name='password' value='#{params[:password]}')
  %p
    .label Confirm
    %input(type='password' name='password_confirmation' value='#{params[:password_confirmation]}')
  %p
    %input(type='submit' value='Change password')