- if @error
  .error= @error

%p
  Turkopticon does not store passwords as plain text, so we can't retrieve your password. Enter your email address or username and we'll give you a new password and email it to you. You can change it to something easier to remember the next time you log in.

%form(action='/reset_password' method='POST')
  %p
    .label Email address
    %input(type='text' name='email' value='#{params[:email]}')
  %p
    OR
  %p
    .label Username
    %input(type='text' name='name' value='#{params[:name]}')
  %p
    %input(type='submit' value='Reset my password')