- if @notice
  .notice= @notice

%table
  %tr
    %th Requester Name &amp; ID
    %th Ratings (averaged)
    %th # Reviews
    %th Scammer?
    %th TOS violation?
  = partial :requester, :collection => @requesters