body {
  max-width: 800px;
  margin: 0 auto;
}

#nav > ul, #login > ul {
  list-style-type: none;
  margin-left: -2.5em;
}

#nav > ul > li, #login > ul > li {
  display: inline;
  padding-right: 1em;
}

.label {
  display: inline-block;
  min-width: 8em;
border: 1px solid red;
}

.notice {
  color: #090;
  margin-bottom: 1em;
}

.error {
  color: #f00;
}

.meter_container {
  display: inline-block;
  vertical-align: middle; 
  height: 9px;
}

.attr_label {
  width: 4em;
  display: inline-block;
}

.mono {
  font-family: Monaco, 'Courier New', monospace;
  font-size: 0.8em;
}

th {
  text-align: left;
  padding: 0 0.5em;
}

.wide {
  min-width: 12em;
}

.requester > td, .review > td {
  border-top: 1px solid #999;
  font-size: 0.7em;
  font-family: Verdana, Helvetica, Arial, sans-serif;
}

.meter {
  font-size: 5px;
}

.meter_full {
  background-color: #03af00;
}

.meter_empty {
  background-color: #ddd;
}

.center {
  text-align: center;
}