body {
  margin: 0 auto;
  color: #523100;
  font-family: Helvetica, Arial, sans-serif; 
  background: #f9d3a3;
}

#main {
  background-color: #fbeacc;
  padding: 15px; 
  margin: 10px; 
}

#nav > ul, #login > ul {
  list-style-type: none;
  margin-left: -2.5em;
}

#nav > ul > li, #login > ul > li {
  display: inline;
  padding-right: 1em;
}

.label {
  display: inline-block;
  min-width: 8em;
  border: 1px solid red;
}

.notice {
  color: #090;
  margin-bottom: 1em;
}

.error {
  color: #f00;
}

.req_name {
  color: red; 
}	  
.req_id { }

.meter_container {
  display: inline-block;
  vertical-align: middle; 
  height: 9px;
}

.attr_label {
  width: 4em;
  display: inline-block;
}

.mono {
  font-family: Monaco, 'Courier New', monospace;
  font-size: 0.8em;
}

.wide {
  min-width: 12em;
}

table.review_list {
  width: 100%;
  border-spacing: 0px;
  table-layout: fixed;
}

table.review_list th, td {
  padding: 5px; 
  font-size: 14px;
  vertical-align: top;
  text-align: left; 
}

table.review_list th {
  border-top: 2px solid #52300C; 
  border-bottom: 1px solid #52300C;
  max-width: 30px;
  width: 25px; 
}

tr.requester td { 
  border-bottom: 1px solid #B7A03F;
}

td.req_desc, td.rating {

}

td.rating {
  font-size: 0.7em;
  font-family: Verdana, Helvetica, Arial, sans-serif;
}

.meter {
  font-size: 5px;
}

.meter_full {
  background-color: #03af00;
}

.meter_empty {
  background-color: #ddd;
}

.center {
  text-align: center;
}